<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<title>Cari Penduduk</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<h1 class="page-header">Search Penduduk</h1>

	<form action="/penduduk/cari" method="get">
		
		
		
		<div>
			<label for="kota" >Kota</label> 
			<select name = "id_kota" onchange="this.form.submit()">
				<option>Pilih Kota</option>
				<div th:each = "kotas: ${kotas}">
					<option th:value="${kotas.id}" th:text="${kotas.nama_kota}" th:if="${kotas.id.equals(id_kota)}" selected="true"></option>
					<option th:value="${kotas.id}" th:text="${kotas.nama_kota}" th:if="${kotas.id.equals(id_kota) == false}" ></option>
				</div>
			</select>
		</div>
		
		<div th:if="${id_kota != null}">
			<label for="id_kecamatan" >Kecamatan</label> 
			<select name = "id_kecamatan" onchange="this.form.submit()">
				<option>Pilih Kecamatan</option>
				<div th:each = "kecamatans: ${kecamatans}">
					<option th:value="${kecamatans.id}" th:text="${kecamatans.nama_kecamatan}" th:if="${kecamatans.id.equals(id_kecamatan)}" selected="true"></option>
					<option th:value="${kecamatans.id}" th:text="${kecamatans.nama_kecamatan}" th:if="${kecamatans.id.equals(id_kecamatan) == false}" ></option>
				</div>
			</select>
		</div>
		
		<div th:if="${id_kecamatan != null}">
			<label for="kelurahan" >Kelurahan/Desa</label> 
			<select name = "id_kelurahan">
				<option>Pilih Kota</option>
				<div th:each = "kelurahans: ${kelurahans}">
					<option th:value="${kelurahans.id}" th:text="${kelurahans.nama_kelurahan}" ></option>
				</div>
			</select>
		</div>
		
		<div>
			<button type="submit" name="action" value="Lihat">Lihat</button>
		</div>
	</form>

</body>

</html>

