<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lihat Data Keluarga</title>
    </head>
    <body>
        <h1>Data Penduduk</h1>
        <h3 th:text="'NKK = ' + ${keluarga.id}">NKK Keluarga</h3>
        <h3 th:text="'Alamat = ' + ${keluarga.alamat}">Alamat Keluarga</h3>
        <h3 th:text="'RT/RW = ' + ${keluarga.rt} + '/' + ${keluarga.rw}">RT/RW</h3>
        <h3 th:text="'Kelurahan/Desa = ' + ${kelurahan.nama_kelurahan}">Kelurahan/Desa</h3>
    	<h3 th:text="'Kecamatan = ' + ${kecamatan.nama_kecamatan}">Nama Kecamatan</h3>
    	<h3 th:text="'Kota = ' + ${kota.nama_kota}">Nama Kota</h3>
    				
        
        <hr/>
        <table>
        
        <tr>
        	<td>
       			No.
        	</td>
        
    		<td>
        		Nama Lengkap
        	</td>
        
    		<td>
        		NIK
        	</td>
        </tr>
    	
    	<div th:each="penduduks,iterationStatus: ${penduduks}">
            <tr>
            <td>
            <h3 th:text="${iterationStatus.count}">No. 1</h3>
	       	</td>
	       	<td>
	       	<h3 th:text="${penduduks.nama}">Student NPM</h3>
	       	</td>
	       	<td>
	       	<h3 th:text="${penduduks.nik}">Student Name</h3>
	       	</td>
	       	</tr>
       	</div>
       	</table>
    </body>
</html>
