<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lihat Data Keluarga</title>
	    <script src="/js/jquery-3.2.1.min.js"></script>
	    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
	  	
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	    <script>
	        $(document).ready(function () {
	            $('#tabel-mhs').DataTable();
	        });
	        
	        
	    </script>
    
    </head>
    <body>
        <h1>Data Penduduk</h1>
        <h3 th:text="'NKK = ' + ${keluarga.id}">NKK Keluarga</h3>
        <h3 th:text="'Alamat = ' + ${keluarga.alamat}">Alamat Keluarga</h3>
        <h3 th:text="'RT/RW = ' + ${keluarga.rt} + '/' + ${keluarga.rw}">RT/RW</h3>
        <h3 th:text="'Kelurahan/Desa = ' + ${kelurahan.nama_kelurahan}">Kelurahan/Desa</h3>
    	<h3 th:text="'Kecamatan = ' + ${kecamatan.nama_kecamatan}">Nama Kecamatan</h3>
    	<h3 th:text="'Kota = ' + ${kota.nama_kota}">Nama Kota</h3>
    				
        
        <hr/>
        <table id="tabel-mhs" class="table">
        
        <thead>
		        <tr>
		            <th>No. </th>
		            <th>Nama Lengkap</th>
		            <th>NIK</th>
		        </tr>
		    </thead>
    	
    	<tbody>
    	<div th:each="penduduks,iterationStatus: ${penduduks}">
            <tr>
            <td>
            <h3 th:text="${iterationStatus.count}">No. 1</h3>
	       	</td>
	       	<td>
	       	<h3 th:text="${penduduks.nama}">Student NPM</h3>
	       	</td>
	       	<td>
	       	<h3 th:text="${penduduks.nik}">Student Name</h3>
	       	</td>
	       	</tr>
       	</div>
       </tbody>
       	</table>
       	

		    
		    
		        
		    
    </body>
</html>
