<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<title>Ubah Data Penduduk</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<h1 class="page-header">Update Penduduk</h1>

	<form th:action="@{/penduduk/ubah/__${penduduk.nik}__}" method="post">
		<div>
			<label for="nama" >Nama</label> <input type="text" name="nama" th:field="${penduduk.nama}" />
		</div>
		<div>
			<label for="tempat_lahir" >Tempat_lahir</label> <input type="text" name="tempat_lahir" th:value="${penduduk.tempat_lahir}"/>
		</div>
		<div>
			<label for="tanggal_lahir" >Tanggal Lahir</label> <input type="text" name="tanggal_lahir" th:value="${penduduk.tanggal_lahir}" />
		</div>
		<div>
			<label for="golongan_darah" >Golongan Darah</label>
			<select name="golongan_darah"  id="golongan_darah">
				<option value = "AB" th:if="${penduduk.golongan_darah.equals('AB')}" selected="true">AB</option>
				<option value = "AB" th:if="${penduduk.golongan_darah.equals('AB') == false}" >AB</option>
				<option value = "A" th:if="${penduduk.golongan_darah.equals('A')}" selected="true">A</option>
				<option value = "A" th:if="${penduduk.golongan_darah.equals('A') == false}" >A</option>
				<option value = "B" th:if="${penduduk.golongan_darah.equals('B')}" selected="true">B</option>
				<option value = "B" th:if="${penduduk.golongan_darah.equals('B') == false}" >B</option>
				<option value = "O-" th:if="${penduduk.golongan_darah.equals('O-')}" selected="true">O-</option>
				<option value = "O-" th:if="${penduduk.golongan_darah.equals('O-') == false}">O-</option>
				<option value = "O+" th:if="${penduduk.golongan_darah.equals('O+')}" selected="true">O+</option>
				<option value = "O+" th:if="${penduduk.golongan_darah.equals('O+') == false}" >O+</option>
				</select>
			
		</div>
		<div>
			<label for="agama" >Agama</label> <input type="text" name="agama" th:value="${penduduk.agama}"/>
		</div>
		<div>
			<label for="status_perkawinan" >Status Perkawinan</label> 
			<select name="status_perkawinan"  id="status_perkawinan">
				<option th:if="${penduduk.status_perkawinan.equalsIgnoreCase('Kawin')}" selected="true" >Kawin</option>
				<option th:if="${penduduk.status_perkawinan.equalsIgnoreCase('Kawin') == false}" >Kawin</option>
				<option th:if="${penduduk.status_perkawinan.equalsIgnoreCase('Belum Kawin')}" selected="true">Belum Kawin</option>
				<option th:if="${penduduk.status_perkawinan.equalsIgnoreCase('Belum Kawin') == false}" >Belum Kawin</option>
				</select>
		</div>
		<div>
			<label for="pekerjaan" >Pekerjaan</label> <input type="text" name="pekerjaan" th:value="${penduduk.pekerjaan}"/>
		</div>
		<div>
			<label for="kewarganegaraan" >Kewarganegaraan</label> <input type="text" name="kewarganegaraan" th:value="${kewarganegaraan}"/>
		</div>
		<div>
			<label for="status_kematian" >Status Kematian</label>
			<select name="status_kematian"  id="status_kematian">
				<option th:if="${penduduk.is_wafat.equals('0')}" selected="true">Hidup</option>
				<option th:if="${penduduk.is_wafat.equals('0') == false}" >Hidup</option>
				<option th:if="${penduduk.is_wafat.equals('1')}" selected="true">Wafat</option>
				<option th:if="${penduduk.is_wafat.equals('1') == false}" >Wafat</option>
				</select>
		</div>
		<div>
			<label for="nkk" >Id Keluarga</label> <input type="text" name="nkk" th:value="${penduduk.id_keluarga}"/>
		</div>
		<div>
			<label for="status_dalam_keluarga" >Status Dalam Keluarga</label> <input type="text" name="status_dalam_keluarga" th:value="${penduduk.status_dalam_keluarga}" />
		</div>
			
		
		<div>
			<button type="submit" name="action" value="save">Simpan</button>
		</div>
	</form>

</body>

</html>

